a(href="javascript:window.$barry.showPOI('Camping');", data-cat="Camping", title="Camping")
  include ../img/Camping.svg
a(href="javascript:window.$barry.showPOI('Cultural');", data-cat="Cultural", title="Musées, ...")
  include ../img/Cultural.svg
a(href="javascript:window.$barry.showPOI('Event');", data-cat="Event", title="Evènements, spectacles, ...")
  include ../img/Event.svg
a(href="javascript:window.$barry.showPOI('Food');", data-cat="Food", title="Restaurants")
  include ../img/Food.svg
a(href="javascript:window.$barry.showPOI('Hotel');", data-cat="Hotel", title="Hôtels")
  include ../img/Hotel.svg
a(href="javascript:window.$barry.showPOI('Sports');", data-cat="Sports", title="Lieux sportifs")
  include ../img/Sports.svg
a(href="javascript:window.$barry.showPOI('Tour');", data-cat="Tour", title="Sorties touristiques, randonnées, ...")
  include ../img/Tour.svg