#sidebar {
  @apply bg-slate-800 shadow text-slate-100 py-2 px-4 flex flex-col min-h-fit;

  h1 {
    @apply flex items-center space-x-2 justify-center pt-2 pb-4;

    span {
      @apply text-3xl font-bold tracking-wider;
    }

    svg {
      @apply h-8 w-8 inline-block fill-red-500;
    }
  }

  .h3 {
    @apply flex items-start border-t border-slate-600 mt-2 pt-2 text-sm flex-col;

    > span {
      @apply flex items-center;
      svg {
        @apply h-6 w-6 inline-block;
      }

      h3 {
        @apply pl-2 text-gray-200 uppercase;
      }
    }

    .form {
      @apply flex items-center justify-end flex-grow;

      > label {
        @apply pr-2;
      }

      span,
      > label {
        @apply normal-case pl-0;
      }

      .toggle {
        @apply mx-2;
      }
    }
  }
}

@media sm {
  .h3 {
    @apply flex-row;
  }
}

@import "./_welcome.less";

@import "./_address.less";

#calculate {
  @apply mt-4 w-4/5 mx-auto rounded-lg bg-green-500 text-slate-100 py-1 text-center block px-4;

  &:hover {
    @apply bg-green-400;
  }

  svg {
    @apply inline-block animate-spin -ml-1 mr-2 h-5 w-5 text-white;

    circle {
      @apply opacity-25;
    }

    path {
      @apply opacity-75;
    }
  }
}

#newsearch {
  @apply mb-4 w-4/5 mx-auto rounded-lg bg-slate-500 text-slate-100 py-1 text-center block px-4;

  &:hover {
    @apply bg-slate-400;
  }
}

#log {
  @apply bg-slate-600 text-sm py-1 px-2 flex-grow rounded my-4 overflow-hidden;

  .form {
    @apply flex items-center justify-end flex-grow  border-b mb-1 pb-1 border-slate-800;

    > label {
      @apply pr-2;
    }

    span,
    > label {
      @apply normal-case pl-0;
    }

    .toggle {
      @apply mx-2;
    }
  }
}

#log-content {
  @apply overflow-y-auto mt-1;
  height: 90%;

  @bg-color: rgb(71 85 105);
  @fg-color: rgb(203 213 225);

  scrollbar-width: thin;
  scrollbar-color: @fg-color @bg-color;

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background: @bg-color;
    border-radius: 20px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: @fg-color;
    border-radius: 20px;
    border: 1px solid @bg-color;
  }

  p {
    @apply mb-1;

    span {
      @apply cursor-pointer;
    }
  }

  .log-0 {
    @apply text-base text-white;
  }
  .log-1 {
    @apply text-sm text-slate-200;
  }
}
