doctype html
html(lang="fr")
  head 
    title Barry
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    #map

    #address
      #wrapper
      button#calc.disabled Calculer
      //button#clean(on-click="window.clear()") Reset

    script(src="./js/app.js", type="module")
