doctype html
html(lang="fr")
  head 
    title Barry
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="apple-touch-icon", sizes="180x180", href="apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="favicon-16x16.png")
    link(rel="manifest", href="site.webmanifest")
  body
    #app
      include pug/sidebar
      #map
      #pois.hide
        include pug/pois

    script(src="./js/app.js", type="module")
